<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liubov-JSAdvancedCourse-HW3</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <style> </style>
</head>

<body>
    <div class="body-container">
        <div id="app">
            <!-- включение Vue -->
            <header>

                <div class="flex-header">
                    <div class="flex-container">
                        <a class="index-link" href="#">
                            <div class="logo-box">
                                <!--  <div class="logo-transition"><img class="logo-t" src="" alt="brand-logo"></div> -->
                                <h1>E-shop</h1>
                            </div>
                        </a>
                    </div>

                    <div class="cart flex-right">
                        <!-- Фильтрация товаров по поисковому запросу -->
                        <form action="#" class="search-form" @submit.prevent="filter">
                            <input type="text" class="search-field" v-model="userSearch">
                            <button type="submit" class="btn-search">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                        <!-- Корзина -->
                        <summary class="btn-cart" type="button" @click="showCart = !showCart">Корзина</summary>
                        <!-- Переключает CSS-свойство display элемента, в зависимости от того, истинно ли указанное выражение. -->

                    </div>

                </div>
                <div class="pos-rel">
                    <div class=" pos-abs mybasket" v-show="showCart">
                        <p v-if="!cartItems.length">Cart is empty</p>
                        <!--  v-for для отрисовки списка элементов на основе массива корзины cartItems. выводит значения полей id-product-->
                        <div class="order-item " v-for="item of cartItems" :key="item.id_product">
                            <img :src="imgCart" alt="Some img" class="noimg-tobasket"> <!-- фото -->
                            <div class="div-container">

                                <div class="product-desc">
                                    <!-- товары в корзине -->
                                    <div class="order-item-text">{{ item.product_name }}</div>
                                    <div class="order-item-text">Quantity: {{ item.quantity }}</div>
                                    <div class="order-item-text">$ {{ item.price }} each</div>
                                </div>
                            </div>
                            <div class=" right-block">
                                <div class="product-price">{{item.quantity*item.price}}</div>
                                <button class="reduce-product" @click="remove(item)">&times;</button>
                            </div>
                        </div>


                    </div>
                </div>






            </header>

            <main>
                <div class="products flex-container">
                    <!-- Товары -->
                    <div class="product-item" v-for="product of filtered" :key="product.id_product">
                        <!--  v-for для отрисовки списка элементов на основе массива filtered. выводит значения полей id-product из JSON-->
                        <img :src="imgProduct" alt="Some img">
                        <div class="desc">
                            <h3>{{product.product_name}}</h3>
                            <p>{{product.price}}</p>
                            <!-- вызов метода addProduct c для обработки массива products -->
                            <button class="buy-btn" @click="addProduct(product)">Купить</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <div class="solution2-1 products-list flex-container"></div>
        <!--          <button id="" class="hide-solution">Скрыть решение</button> -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./srcHW5copy.js"></script>
        <header>
            <h3>JavaScript AdvancedCourse</h3>
            <h2>Урок 5. Фреймворк Vue</h2>
        </header>
        <div class="div-container">
            <p>
            <ol>
                <li>
                    Добавить методы и обработчики событий для поля поиска. Создать в объекте данных поле searchLine и
                    привязать к нему содержимое поля ввода. На кнопку «Искать» добавить обработчик клика, вызывающий
                    метод FilterGoods.
                </li>
                <li>Добавить корзину. В html-шаблон добавить разметку корзины. Добавить в объект данных поле
                    isVisibleCart, управляющее видимостью корзины.</li>
                <li>
                    *Добавлять в .goods-list заглушку с текстом «Нет данных» в случае, если список товаров пуст.
                </li>
            </ol>
            </p>

        </div>

        <footer> Copyright © Liubov' Kravtsova </footer>


    </div>

</body>

</html>